name: macOS

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
    # Checks-out the repo. More at: https://github.com/actions/checkout
    - uses: actions/checkout@v2
    - name: Select Xcode version
      run: sudo xcode-select -switch /Applications/Xcode_11.4.app
    - name: Build project
      run: swift build
    - name: Run tests
      run: swift test
    - name: Validate Podspec
      run: bundle exec pod lib lint --verbose --fail-fast
