name: Build

on: [push, pull_request]

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
    # Checks-out the repo. More at: https://github.com/actions/checkout
    - uses: actions/checkout@v2
    - name: Select Xcode version
      run: sudo xcode-select -switch /Applications/Xcode_11.4.app
    - name: Build project
      run: swift build
    - name: Run tests
      run: swift test
    - name: Validate Podspec
      run: bundle install && bundle exec pod lib lint --verbose --fail-fast

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: Didstopia/SwiftAction@v1.0.2
      with:
        swift-action: 'test --generate-linuxmain'
        swift-action: 'test'
