name: Build

on: [push, pull_request]

jobs:
  build-macos:
    runs-on: macOS-14
    steps:
    # Checks-out the repo. More at: https://github.com/actions/checkout
    - uses: actions/checkout@v2
    - name: Run on Xcode 15.4
      run: sudo xcode-select -switch /Applications/Xcode_15.4.app
    - name: Generate linux tests
      # Makes sure the linux tests were generated properly (can only be run on macOS)
      run: swift test --generate-linuxmain && git update-index --refresh && git diff-index --quiet HEAD --
    - name: Test in Debug
      run: swift test -c debug
    - name: Test in Release
      run: swift test -c release

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: Didstopia/SwiftAction@v1.0.2
      with:
        swift-action: 'test'

  validate-podspec:
    runs-on: macOS-14
    steps:
    - uses: actions/checkout@v2
    - name: Validate Podspec
      run: bundle install && bundle exec pod lib lint --verbose --fail-fast
